@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=M+PLUS+1p&display=swap');

body {
    background-color: #F5EDF0;
    margin: 0;
}

h1,
h2,
h3,
p,
li,
a,
ul {
    color: #008BD0;
    text-decoration: none;
    margin: 0;
    font-family: "M PLUS 1p";
    font-weight: 400;
}

.colorLink {
    color: #9A99E1;
}

.imgLink {
    width: 70px;
    height: 70px;
    margin-right: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 96px;
}

.section {
    margin: auto 182px;
}

.textLinksInNav {
    display: flex;
    text-align: center;
    width: 278px;
    height: 118px;
    flex-direction: column;
}

.entry {
    font-size: 48px;
}

.contact_us {
    font-size: 32px;
    text-decoration: underline;
}

.navLine {
    display: flex;
    align-items: center;
}

.cover {
    width: 1536px;
    height: 549px;
    background-image: url(/imgs/image\ 7.svg);
}

.coverText {
    color: #F5EDF0;
    font-size: 40px;
}

.btn {
    width: 300px;
    height: 60px;
    font-size: 24px;
    background-color: #DCBDDF;
    border: #9A99E1 1px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0 4px 4px 5px rgba(00, 00, 00, 0.25);
    margin-top: 10px;
}

.coverInfo {
    margin-left: 10px;
}

.upperMain {
    display: flex;
    height: 1003px;
    justify-content: space-between;
    margin-top: 106px;
}

.miniCatalog {
    width: 602px;
    height: 1003px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutUs {
    width: 778px;
    height: 1003px;
    display: flex;
    flex-direction: column;
}

.titleAboutUs {
    font-size: 48px;
    text-align: center;
    color: #9A99E1;
}

.textAboutUs {
    font-size: 20px;
    list-style-type: none;
}

.paymentAndDelivery {
    height: 709px;
    flex-direction: column;
    margin-top: 107px;
}

.aboutDelivery {
    font-size: 21px;
}

.upperPayment {
    display: flex;
    height: 449pxpx;
}

.imgPayment {
    width: 1090px;
    height: 449px;
}

.bottomPayment {
    display: flex;
    height: 192px;
    font-size: 32px;
    justify-content: space-between;
    margin-top: 68px;
}

.paymentInfo {
    color: #9A99E1;
}

.FAQ {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
    margin-top: 29px;
}

.titleFAQ {
    font-size: 48px;
    margin-bottom: 11px;
}

footer {
    margin-top: 48px;
    height: 272px;
    background-color: #DCBDDF;
    font-size: 32px;
}